*{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    
}
body{
    height: auto;
    width: 100%;
    background-image: url(./Images/putin-walk-vladimir-putin.gif);
    background-repeat: repeat-x;
    background-size: cover;
}
button{
    border-radius: 45px;
    cursor: pointer;
    background-color: rgb(25, 92, 194);
    color: cornsilk;
    margin: 0px 0 -1rem 0;
    padding: 0.5rem 0;
    width: 20rem;
}
button:hover{
    
    background: transparent #3e77cc;
    transition: background-color 800ms;
    color: #000;
}

input{
    padding: .5rem 0.5rem .5rem 0rem;
}

input#age-User {
    padding: 6px;
    padding: 3%;
}

button:focus{
    border: #3e77cc;
}

div#Container{
    padding: 1rem;
}

p{
    color: black;
    padding: 1rem;

}
.imagperfil {
    width: 200px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 400px;
    right: 36.1rem;
}

.box{
    position: relative;
    width: 350px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25%;
    padding: 22px;
    color: black;
    text-align: center;
    box-shadow: 0 0 70px rgb(7 168 204 / 69%);
    border-radius: 15px;
    background: deepskyblue;
    font-family: cursive;
}
